[submodule "assignment_2_SAS"]
	path = assignment_2_SAS
	url = https://github.com/MacKorda/T-768-SMAI-Assignment-2.git
[submodule "assignment_1_CSP"]
	path = assignment_1_CSP
	url = https://github.com/filippo-lampa/ISMAI_HW1.git
[submodule "assignment_3_GTS"]
	path = assignment_3_GTS
	url = https://github.com/damiano00/ISMAI_assignment_3_GTS.git
[submodule "assignment_4_alphazero"]
	path = assignment_4_alphazero
	url = https://github.com/HarlockOfficial/T-768-SMAI-Assignment-4-AlphaZero.git
